.fashion-section {
    padding: 20px 0;
}

.sectiontitle {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 400;
    margin-bottom: 30px;
    letter-spacing: 2px;
}

.fashion-showcase {
    display: flex;
    gap: 10px;
    margin-top: 20px;
    position: relative;
    height: 500px;
}

.showcase-main-section {
    width: 50%;
    background-image: url('./Rectangle101.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 25px;
    padding: 40px 50px;
}

.main-content {
    max-width: 90%;
}

.showcase-main-title {
    font-size: 56px;
    font-weight: bold;
    margin: 0;
    line-height: 1;
    color: #1D1D1D;
}

.main-subtitle {
    font-size: 28px;
    font-weight: 500;
    margin: 0 0 20px 0;
    color: #1D1D1D;
}

.main-description {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #1D1D1D;
}

.shop-nowbtn {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
}

.arrow-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: #1D1D1D;
    border-radius: 50%;
    color: white;
}

.showcase-side-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 50%;
}

.showcase-side-container img {
    width: 100%;
    border-radius: 15px;
}

.showcase-info-card {
    border: 1px solid #C6C6C6;
    position: relative;
    top: -160px;
    border-radius: 10px;
    padding: 20px 10px;
    background-color: white;
    border-radius: 32px;
}

.info-card-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding-bottom: 20px;
}

.info-card-header img {
    width: 50px;
    height: auto;
    border-radius: 0;
}

.info-card-content p {
    margin: 5px 0;
}

.info-card-content p:first-child {
    padding-bottom: 5px;
}